mat-sidenav {
    width: 200px;
    height: 100vw;
}

mat-sidenav-content {
    background-color: white;

}

mat-sidenav-container {
    height: 100%;
}

.home-container {
    width: 95%;
    max-width: 2200px;
    margin-right: auto;
    margin-left: auto;
    min-height: 100vh;
}

#content {
    min-height: 768px!important;
}

#footer {
    width: 100%;
    background-color: #eee;
}

mat-toolbar{
    background-color: #252424;
    color: white;
    font-size: 17px;
    font-family: proxima-nova,Arial,sans-serif;
    border-bottom: 1px solid #ddd;
}

mat-toolbar span{
    margin-left: 60px;
}
