<mat-sidenav-container>
  <mat-sidenav style="background-color: #333;" #sidenav mode="side" [(opened)]="opened">
    <mat-toolbar><span>Menu</span></mat-toolbar>
    <app-sidebar></app-sidebar>
  </mat-sidenav>

  <mat-sidenav-content>
    <app-header (toggleSidenav)="sidenav.toggle()"></app-header>
    <div id="content">
      <div class="home-container mt-4">
        <router-outlet></router-outlet>
      </div>
    </div>
    <app-footer></app-footer>
  </mat-sidenav-content>
</mat-sidenav-container>