<div class="row">
  <div class="row">
    <div (click)="usersOpen = !usersOpen" class="box-cards box-cards-user box-edit-shadow col-md-6">
      <div class="row">
        <div class="card-span col-md-5 image-users">
          <div class="logo-container col-auto">
            <img src="assets/users_logo.png" class="logo">
          </div>
        </div>
        <div class="card-span col-md-6 text-center">
          <span>Control de Usuarios</span>
          <hr>
          <span>Un total de {{totalUsers}} Usuarios registrados</span>
        </div>
        <div class="text-end col-md-1">
          <i *ngIf="!usersOpen" type="button" (click)="usersOpen = true" class="fal fa-chevron-down"></i>
          <i *ngIf="usersOpen" type="button" (click)="usersOpen = false" class="fal fa-chevron-up"></i>
        </div>
      </div>
    </div>
    <div [routerLink]="['/admin/user/add']" class="box-cards box-cards-users box-edit-shadow col-md-6">
      <div class="row">
        <div class="card-span col-md-6 image-users">
          <div class="logo-container col-auto">
            <a>
              <img src="assets/users_logo.png" class="logo">
            </a>
          </div>
        </div>
        <div class="card-span col-md-5 text-center">
          <span>Añadir Usuarios</span>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-2">
    <div class="box-edit-shadow col-md-1 text-center">
      <i class="fal fa-search"></i>
    </div>
    <div class="box-edit-shadow col-md-11">
      <input style="width: 100%; outline: none; border: none">
    </div>
  </div>
  <div *ngIf="usersOpen" class="row mt-2">
    <div class="box-edit-shadow col-md-12">
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Usuario</th>
            <th scope="col">Role</th>
            <th scope="col">Creado por</th>
            <th scope="col">Actualizado por</th>
            
          </tr>
        </thead>
        <tbody *ngFor="let user of users">
          <tr>
            <th scope="row">{{user.id}}</th>
            <td>{{user.username}}</td>
            <td>{{user.role}}</td>
            <td>{{user.createdAt}}</td>
            <td>{{user.updateAt}}</td>
            <div style="margin-left: 2px"class="row">
              <div class="col-md-3 text-center">
                <button [routerLink]="['/admin/user/edit', user.id]" style="width: 30px; font-size: 9px;" class="btn-edit"><i class="fal fa-edit"></i></button>
              </div>
              <div class="col-md-3 text-center">
                <button (click) ="deleteUser(user.id)" style="width: 30px; font-size: 9px;" class="btn-delete"><i class="fad fa-trash"></i></button>
              </div>
            </div>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
