<i [routerLink]="['/admin/user/add']" class="fas fa-user-plus"></i>
<table id="dtBasicExample" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
  <thead>
    <tr>
      <th class="th-sm">Id
      </th>
      <th class="th-sm">Usuario
      </th>
      <th class="th-sm">Role
      </th>
      <th class="th-sm">Created At
      </th>
      <th class="th-sm">Update At
      </th>
      <th class="th-sm">Edit
      </th>
      <th class="th-sm">Delete 
      </th>
    </tr>
  </thead>
  <tbody *ngFor="let user of users">
    <tr>
      <td>{{user.id}}</td>
      <td>{{user.username}}</td>
      <td>{{user.role}}</td>
      <td>{{user.createdAt}}</td>
      <td>{{user.updateAt}}</td>
      <td [routerLink]="['/admin/user/edit', user.id]"><i class="fas fa-user-edit"></i></td>
      <td (click) ="deleteUser(user.id)"><i class="fas fa-user-times"></i></td>
    </tr>
  </tbody>
</table>
