<div *ngIf="helpOpen">
  <app-info></app-info>
</div>

<nav [ngClass]= "!utilsSvc.toggleAdmin ? 'navbar navbar-expand-lg navbar-light bg-light': 'navbar navbar-expand-lg navbar-light bg-light'">
  <div class="container-fluid">
    <ng-container *ngIf="!utilsSvc.toggleAdmin; else viewAdmin">
      <a class="navbar-brand" routerLink="/">ngMysql Users</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li *ngIf = "!isLogged || authSvc.extraerRole != 'admin'" class="nav-item">
            <a type="button" class="nav-link" (click)="helpOpen = !helpOpen" routerLinkActive="active">
              <i class="fas fa-question-circle"></i>
              Ayuda
            </a>
          </li>
          <li *ngIf = "!isLogged; else viewLogout" class="nav-item">
            <a class="nav-link" [routerLink]="'/login'" routerLinkActive="active">
              <i class="fas fa-sign-in-alt"></i>
              Login
            </a>
          </li>
          <li *ngIf = "isLogged && authSvc.extraerRole == 'admin'" (click)="onToggleSidenav()" [routerLink]="'/admin'" class="nav-item">
            <a type= "button" class="nav-link" routerLinkActive="active">
              <i *ngIf="utilsSvc.toggleAdmin" class="fas fa-unlock-alt"></i>
              <i *ngIf="!utilsSvc.toggleAdmin" class="fas fa-lock"></i>
              Admin
            </a>
          </li>
          <li *ngIf = "!isLogged || authSvc.extraerRole != 'admin'" (click)="onNavigateCart()" class="nav-item">
            <a type="button" class="nav-link" routerLinkActive="active">
              <i class="fas fa-shopping-cart"></i>
            </a>
          </li>
        </ul>
      </div>
    </ng-container>
  </div>
</nav>

<ng-template #viewLogout>
  <li *ngIf="!utilsSvc.toggleAdmin" (click) = "onLogout()" class="nav-item">
    <a type= "button" class="nav-link" routerLinkActive="active">
      <i class="fas fa-sign-out-alt"></i>
      LogOut
    </a>
  </li>
</ng-template>

<ng-template #viewAdmin>
   <a class="navbar-brand" routerLink="/admin"> Admin Panel </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li *ngIf = "!isLogged; else viewLogout" class="nav-item">
          <a class="nav-link" [routerLink]="'/login'" routerLinkActive="active">
            <i class="fas fa-sign-in-alt"></i>
            Login
          </a>
        </li>
        <li *ngIf = "isLogged && authSvc.extraerRole == 'admin'" (click)="onToggleSidenav()" [routerLink]="'/admin'" class="nav-item">
          <a type= "button" class="nav-link" routerLinkActive="active">
            <i *ngIf="utilsSvc.toggleAdmin" class="fas fa-unlock-alt"></i>
            <i *ngIf="!utilsSvc.toggleAdmin" class="fas fa-lock"></i>
            Admin
          </a>
        </li>
      </ul>
    </div>
</ng-template>

