<div id="header">
  <div *ngIf="helpOpen" class="w-100 mx-auto open" id="widget-cs-row" style="display: block">
    <div class="header-container" style="height: 192px; opacity: 1">
      <div class="row" id="header_customer_support">
        <div class="col-4 pr-0 widget-cs-info">
          <div class="widget-cs-info-header text-center">
            ¿Necesitas ayuda?
          </div>
          <hr class="widget-hr">
        </div>
        <div class="col-7 px-0 widget-cs-info">
        </div>
        <div class="col-1 pl-0 widget-cs-info">
        </div>
      </div>
    </div>
  </div>
  <div id="header_mask">
    <div id="info_top_bar" class="header-container">
      <div class="row h-100">
        <div class="col pr-10">
        </div>
        <div class="col">
          <div class="shipping-msg">
          </div>
        </div>
        <div class="col pr-0">
          <div class="choose-country">
            <a id="choose-country">
            </a>
            <a id="choose-country">
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="header_search_bar" class="sticky-top">
  <div id="header_search_area" class="header-container">
    <div class="row">
      <div class="col-auto">
        <div class="row">
          <div id="the_h_menu" class="col-auto">
            <div [ngClass]= "isAdmin != 'admin' ? 'disableDiv': 'enableDiv'" class="menu-btn">
              <i (click)="onToggleSidenav()" class="fal fa-bars"></i>
              <i class="fas fa-bars-exit"></i>
            </div>
          </div>
          <div class="logo-container col-auto">
            <a href="http://localhost:4200/" id="logo">
              <img src="assets/Logo_Charlas.png" class="logo">
            </a>
          </div>
        </div>
      </div>
      <div class="col">
        <div id="quick-search_container">

        </div>
      </div>
      <div class="col-auto">
        <div class="row">
          <div class="top-help-container col-auto">
            <a id="top-help-link" class="top-help-link" *ngIf = "!isLogged || isAdmin != 'admin'" (click)="helpOpen = !helpOpen">
              <i class="fas fa-question-circle"></i>
              <span style="margin-top: 3px">Ayuda</span>
            </a>
          </div>
          <div class="col-auto loyalty-header-container">
            <a class="loyalty-tooltip-link">
              <span style="margin-top: 3px">Golden Club</span>
            </a>
          </div>
          <div class="login-top-container col-auto">
            <div class="login-links-holder w-100">
              <span *ngIf = "!isLogged" class="login-links-holder-left">
                <a [routerLink]="'/login'" style="margin-top: 3px" id="login__link" class="login-links-holder__link">Identificarse</a>
              </span>
              <span *ngIf = "!isLogged" class="login-links-holder-right">
                <a [routerLink]="'/register'" style="margin-top: 3px" id="register__link" class="login-links-holder">Crear Cuenta</a>
              </span>
              <span *ngIf = "isLogged" class="login-links-holder-right">
                <a (click) = "onLogout()" style="margin-top: 3px" id="logout__link" class="login-links-holder">Cerrar Sesión</a>
              </span>
            </div>
          </div>
          <div class="top-mini-cart-container col-auto">
            <a [routerLink]="'/cart'" type="button" class="show-mini-cart nav-link">
              <div class="show-mini-cart-cont">
                <span class="top-minicart-info">
                  <span class="top-minicart-info_num-items d-none" id="cartItemCount">
                  </span>
                  <i class="fas fa-shopping-cart"></i>
                </span>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


