<div class="col-md-4 offset-md-4">
    <div class="card mt-3">
        <div class="card-header bg-dark text-white text-center">
            Identificarse
        </div>
        <div class="card-body">
            <form [formGroup] = "loginForm" (ngSubmit)="onLogin()">
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-10">
                            Username
                            <input 
                                type="text" 
                                formControlName="username" 
                                class="form-control"
                                required
                            />
                        </div>
                    </div>
                    <mat-error *ngIf="isValidField('username')">
                        {{ getErrorMessage('username')}}
                    </mat-error>
                </div>
                <div class="form-group mt-3">
                    Password 
                    <div class="row">
                        <div class="col-md-10">
                            <input 
                                [type]="hide ? 'password' : 'text'"
                                formControlName="password" 
                                class="form-control"
                                required
                            />
                        </div>
                        <div class="col-md-2 mt-2 p-1">
                            <mat-icon type ="button" (click)="hide = !hide">{{ hide ? "visibility_off" : "visibility"}}</mat-icon>
                        </div>
                    </div>
                    <mat-error *ngIf="isValidField('password')">
                        {{ getErrorMessage('password')}}
                    </mat-error>
                </div>
                <button 
                    [disabled]="loginForm.invalid" 
                    type="submit" 
                    class="btn-info form-control mt-3"
                >
                    Iniciar Sesión
                </button>
            </form>
        </div>
        <div class="card-footer">
            <span>Don't have an account yet?</span>
            <span type="button" routerLink="/register">Sign up here.</span>
        </div>
    </div>
</div>

