<form id="formulario" [formGroup] = "loginForm" (ngSubmit)="onLogin()">
    <div class="form-group">
        <div class="row mt-4">
            <div class="material-row col-sm-12">
                <div class="material-field">
                    <label class="label-unique-email">E-mail<span class="material__required">*</span></label>
                    <span class="sublabel"></span>
                    <input
                        id="emailModal"
                        type="email" 
                        formControlName="username" 
                        required
                    />
                </div>
            </div>
        </div>
        <div class="row mt-4">
            <div class="material-row col-sm-12">
                <div class="material-field">
                    <label class="label-unique-password">Contraseña<span class="material__required">*</span></label>
                    <input 
                        id="passwordModal"
                        [type]="hide ? 'password' : 'text'"
                        formControlName="password" 
                        class="form-control"
                        required
                    />
                    <mat-icon type ="button" (click)="hide = !hide">{{ hide ? "visibility_off" : "visibility"}}</mat-icon>
                </div>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-sm-6 margin-botton--small">
                <label class="remember-me" style="float: left">
                    <input checked="checked" type="checkbox">
                    <span> Recordarme</span>
                </label>
            </div>
            <div class="col-sm-6">
                <div class="material-required-info">
                    <span class="required">*</span>
                    Campos obligatorios
                </div>
            </div>
        </div>
        <div class="row"></div>
        <div class="row mt-5">
            <div class="col-sm-8 offset-sm-2">
                <input id="btnIniciarSesion" class="button button--red button--large w-100" type="submit" value="Iniciar Sesión">
            </div>
        </div>
    </div>
</form>
