<div class="col-md-4 offset-md-2">
    <div class="card card-body text-center mt-3">
        <img [src]="product.image == '' ? '/assets/NoImage.png' : product.image" class="card-img-top">
        <h3>{{product.id}}, {{product.title == '' ? 'Product Name' : product.title}}</h3>
    </div>
</div>

<div class="col-md-4">
    <div class="card mt-3">
        <div class="card-body">
            <form>
                <div class="form-group">
                    {{product.title}}
                </div>
                <div class="form-group mt-3">
                    Descripcion del producto: {{product.description}}
                </div>
                <div class="form-group mt-3">
                    Precio: {{product.price}}
                </div>
                <div class="form-group mt-3">
                    Creado por: {{product.createdUser}}
                </div>
                <div class="form-group mt-3">
                    Creado el {{product.createdAt}} y actualizado el {{product.updateAt}}
                </div>
            </form>
        </div>
    </div>
    <div *ngIf="product.createdUser != user$" class="mt-2">
        <button (click)="addCart()" class="btn btn-info btn-block">
            Compra ahora
        </button>
    </div>
    <div *ngIf="product.createdUser == user$ && isLogged" class="mt-2">
        <button [routerLink]="['/admin/product/edit', product.id]" class="btn btn-info btn-block">
            Editar <i class="far fa-edit"></i>
        </button> 
        <button class="btn btn-danger">
            Eliminar <i class="far fa-trash-alt"></i>
        </button>  
    </div>
</div>
