<div style class="col-md-4" *ngFor="let product of products">
    <div class="card text-center mt-3">
        <div class="card-header bg-dark text-white d-flex justify-content-between align-items-center">
            {{product.title}}
            <i [routerLink] = "['product/details', product.id]"class="fas fa-info-circle"></i>
            
        </div>
        <img [src]="product.image" class="card-img-top">
        <div class="card-body text-right">
            {{product.price}}
        </div>
    </div>
</div>
