<div style class="col-md-4" *ngFor="let product of products">
    <div class="card text-center mt-3">
        <div class="card-header bg-dark text-white d-flex justify-content-between align-items-center">
            {{product.title}}
            <button *ngIf="product.createdUser == user$ && isLogged" class="btn btn-danger" (click) ="deleteProduct(product.id)">
                <i class="far fa-trash-alt"></i>
            </button>
        </div>
        <img [src]="product.image" class="card-img-top">
        {{product.price}}
        <div class="card-body">
            <p>{{product.description}}</p>
            <a *ngIf="product.createdUser == user$ && isLogged" [routerLink]="['/admin/product/edit', product.id]" class="btn btn-info btn-block">
                EDIT PRODUCT
            </a>
        </div>
    </div>
</div>
