<div id="footer">
    <div class="container">
        <div class="row">
            <div class="col-6 footer-column">
                <p>Información útil</p>
                <ul id="main-footer-menu" class="main-footer-menu">
                    <li><a>Quiénes somos</a></li>
                    <li><a>Quiénes somos</a></li>
                    <li><a>Quiénes somos</a></li>
                    <li><a>Quiénes somos</a></li>
                    <li><a>Quiénes somos</a></li>
                    <li><a>Quiénes somos</a></li>
                </ul>
                <div class="helpdesk-number">
                    <a class="number d-flex align-items-center">
                        <i>966304526</i>
                    </a>
                </div>
            </div>
            <div class="col-3 footer-column">
                <p>Subscribirse a los boletines</p>
                <div class="newsletter">
                    <a class="newsletter-tagline">
                        Recibe novedades y promociones en tu email
                    </a>
                    <a class="newsletter-cta">
                        Recibe novedades y promociones en tu email
                    </a>
                </div>
            </div>
            <div class="col-3 motivational_phrases footer-column">
                <div class="text-right text-uppercase">
                    <p>WORK HARD</p>
                    <span>#exceedYourself</span>
                </div>
            </div>
        </div>
    </div>
    <div class="footer_icons">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-12 my-5">
                    <div class="row footer_icons__contents">
                        <div class="col-2 footer_icons__span">
                            <span class="footer-icons-description">Opciones de envio</span>
                        </div>
                    </div>
                    <div class="row proyectMark  w-100">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
