<div *ngIf="productos$.length > 0">
    <div class="row">
        <div class="col-md-8">
            <div *ngFor="let product of productos$">
                <div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card card-body text-center mt-3">
                                <div class="row">
                                    <div class="col-md-4">
                                        <img [src]="product.image" class="card-img-top">
                                    </div>
                                    <div class="col-md-8">
                                        <p>{{product.id}} 
                                            <i type="button" (click)="deleteItem(product)" class="fas fa-times"></i>
                                        </p>
                                        <p>{{product.title}}</p>
                                        <p>{{product.description}}</p>
                                        <p>{{product.price}}</p>
                                        <p>{{product.createdAt}}</p>
                                        <p>{{product.updateAt}}</p>
                                        <p>{{product.createdUser}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mt-3">
                <div class="card-body" >
                    <p>Cantidad Total: {{countCart}}</p>
                    <p>Sumario</p>
                    <p>Subtotal: {{priceTotal}}€</p>
                    <p>Envío: 0€</p>
                </div>
                <div class="card-footer">
                    <p>Total: {{priceTotal}}€</p>
                </div>
            </div>
        </div>
    </div>
    <button class="btn btn-info btn-block" (click)="clearCart()">
        Vaciar Carrito
    </button>
</div>


<div *ngIf="productos$.length <= 0">
    NOELIA ERES UNA CESTA
</div>

