<div class="row">
    <div class="col-md-12">
        <div style="height: 3.5vw;" class="row style-content style-title">
            <div class="col-md-3 text-center mt-3">
                <i class="fal fa-chart-bar"></i>
            </div>
            <div class="col-md-6 text-center mt-3">
                <span>Dashboard</span>
            </div>
            <div class="col-md-3 text-center mt-3">
                <i *ngIf="menuEstados!=0" (click)="menuEstados=0" style="cursor: pointer" routerLink="/admin" class="fal fa-chevron-right"></i>
            </div>
        </div>
        <div style="height: 3.5vw;" class="row style-content style-title">
            <div class="col-md-3 text-center mt-3">
                <i class="fal fa-users"></i>
            </div>
            <div class="col-md-6 text-center mt-3">
                <span>Usuarios</span>
            </div>
            <div class="col-md-3 text-center mt-3">
                <i *ngIf="menuEstados!=2" (click)="menuEstados=2" style="cursor: pointer" routerLink="/admin/users" class="fal fa-chevron-right"></i>
                <i *ngIf="menuEstados==2" (click)="onNavigateAdmin(); menuEstados=0" style="cursor: pointer" class="fal fa-times"></i>
            </div>
        </div>
        <div style="height: 3.5vw;" class="row style-content style-title">
            <div class="col-md-3 text-center mt-3">
                <i class="far fa-clipboard"></i>
            </div>
            <div class="col-md-6 text-center mt-3">
                <span>Servicios</span>
            </div>
            <div class="col-md-3 text-center mt-3">
                <i *ngIf="menuEstados!=3" (click)="menuEstados=3" style="cursor: pointer" class="fal fa-chevron-right"></i>
                <i *ngIf="menuEstados==3" (click)="onNavigateAdmin(); menuEstados=0" style="cursor: pointer" class="fal fa-times"></i>
            </div>
        </div>
        <div style="height: 3.5vw;" class="row style-content style-title">
            <div class="col-md-3 text-center mt-3">
                <i class="fal fa-shopping-cart"></i>
            </div>
            <div class="col-md-6 text-center mt-3">
                <span>Productos</span>
            </div>
            <div class="col-md-3 text-center mt-3">
                <i *ngIf="menuEstados!=4" (click)="menuEstados=4" style="cursor: pointer" routerLink ="/admin/products" class="fal fa-chevron-right"></i>
                <i *ngIf="menuEstados==4" (click)="onNavigateAdmin(); menuEstados=0" style="cursor: pointer" class="fal fa-times"></i>
            </div>
        </div>
        <div style="height: 3.5vw;" class="row style-content style-title">
            <div class="col-md-3 text-center mt-3">
                <i class="fal fa-sign-out"></i>
            </div>
            <div class="col-md-6 text-center mt-3">
                <span>Salir</span>
            </div>
            <div class="col-md-3 text-center mt-3">
                <i *ngIf="menuEstados!=5" style="cursor: pointer" (click)="onExit(); menuEstados=0" class="fal fa-chevron-right"></i>
            </div>
        </div>
    </div>
</div>