<div class="col-md-4 offset-md-4">
    <div class="card mt-3">
        <div class="card-header bg-dark text-white text-center">
            Introduce aquí tu nueva contraseña
        </div>
        <div class="card-body">
            <form [formGroup] = "passwordResetForm" (ngSubmit)="onPassword()">
                <div class="form-group mt-3">
                    Nueva contraseña *
                    <div class="row">
                        <div class="col-md-10">
                            <input 
                                [type]="hide ? 'password' : 'text'"
                                formControlName="newPassword" 
                                class="form-control"
                                required
                            />
                        </div>
                        <div class="col-md-2 mt-2 p-1">
                            <mat-icon type ="button" (click)="hide = !hide">{{ hide ? "visibility_off" : "visibility"}}</mat-icon>
                        </div>
                    </div>
                </div>
                <button 
                    [disabled]="passwordResetForm.invalid" 
                    type="submit" 
                    class="btn-info form-control mt-3"
                >
                    Enviar
                </button>
            </form>
        </div>
        <div class="card-footer">
            <span>* Campos obligatorios</span>
            <span>IMPORTANTE: Es posible que recibas un correo electrónico después de completar este formulario</span>
        </div>
    </div>
</div>
